label {
    width: 20px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

body {
    background: #05c46b;
    text-align: center;
    
}

.top {
    padding-top: 5px;
}

.survey-form {
    background-color: #fff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 30px auto;

}

.main-form {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 10px;
}

.survey-form p {
    font-weight: bolder;
    font-size: 1rem;
}

.survey-form input,
select,
textarea {
    border: 1px solid #777;
    border-radius: none;
    width: 95%;
}

.survey-form input[type="radio"],
.survey-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

span{
    font-size: small;
}

#dollar{
    
}

table{
    width: 95%;
}
table,
tr,
td,
th {
    border: 1px solid #777;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}
th{
    font-size: 14px;
}

tr:nth-child(odd) {
    background-color: #E6E6E6;
}

#submit-btn{
    background-color: #05c46b;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: larger;
    width: 95%;
}